<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>
<style type="text/css">
    .container{
        width: 100%;
        height: 100vh;
    }
    #map{
        height: 80vh;
        width: 100%;
    }
    #form-layout{
        height: 80vh;
    }
    form{
        width: 100%;
    }
</style>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">BookCab</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/api/drivers/generate">Reset</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-sm-6">
                <input type="text" id="autocomplete" class="form-control" placeholder="Search" aria-describedby="source">
                <div id="map"></div>

        </div>
        <div class="col-xs-12 col-md-6 col-sm-6" id="form-layout">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <form class="form-horizontal" action="javascript:void(0)">
                    <div class="form-group">
                        <label for="src" class="col-sm-2 control-label">Source</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="src" placeholder="source">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dest" class="col-sm-2 control-label">Destination</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="dest" placeholder="destination">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="passengers" class="col-sm-2 control-label">Passengers</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="passengers" placeholder="passengers">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dest" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="pass_name" placeholder="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pass_phone" class="col-sm-2 control-label">Phone number</label>
                        <div class="col-sm-10">
                            <input type="tel" class="form-control" id="pass_phone" placeholder="phone number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default book-cab">Book</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-md-6 col-sm-6" id="cab-book-msg">
                <h1 id="cab-book-msg-header">

                </h1>
                <p id="cab-book-msg-message">

                </p>
            </div>

        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    var map;
    var marker;
    function initMap() {
        var geocoder = new google.maps.Geocoder;
        var infowindow = new google.maps.InfoWindow();
        var myLatlng = {lat: 23.173244, lng: 72.813143};
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: myLatlng
        });
        map.setZoom(10);
        marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Click to zoom'
        });
        var input = document.getElementById('autocomplete');
        var src = document.getElementById('src');
        var dest = document.getElementById('dest');
        autocomplete_searchbox = new google.maps.places.Autocomplete(input);
        autocomplete_src = new google.maps.places.Autocomplete(src);
        autocomplete_dest = new google.maps.places.Autocomplete(dest);
        google.maps.event.addListener(autocomplete_searchbox, 'place_changed', function () {
            getChangePlace(autocomplete_searchbox, input);
        });
        google.maps.event.addListener(autocomplete_src, 'place_changed', function () {
            getChangePlace(autocomplete_src, src);
        });
        google.maps.event.addListener(autocomplete_dest, 'place_changed', function () {
            getChangePlace(autocomplete_dest, dest);
        });
        function getChangePlace(autocomplete, input) {
            var place = autocomplete.getPlace();
            console.log(place.name);
            if (!place.geometry) {
                return;
            }
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(10);
            }
            marker.setPlace(({
                placeId: place.place_id,
                location: place.geometry.location
            }));
            var data_lat = document.createAttribute('data-lat');
            var data_lng = document.createAttribute('data-lng');
            var data_placeId = document.createAttribute('data-placeId');
            var data_placename = document.createAttribute('data-placename');
            data_lat.value = place.geometry.location.lat();
            data_lng.value = place.geometry.location.lng();
            data_placeId.value = place.place_id;
            data_placename.value = place.name;
            input.setAttributeNode(data_lat);
            input.setAttributeNode(data_lng);
            input.setAttributeNode(data_placeId);
            input.setAttributeNode(data_placename);
        }
        function geocodeLatLng(geocoder,lat, lng, map, infowindow) {
            var latlng = {lat: parseFloat(lat), lng: parseFloat(lng)};
            geocoder.geocode({'location': latlng}, function(results, status) {
                if (status === 'OK') {
                    if (results[1]) {
                        var marker = new google.maps.Marker({
                            position: latlng,
                            map: map
                        });
                        console.log("hello");
                        infowindow.setContent(results[1].formatted_address);
                        infowindow.open(map, marker);
                        marker.setMap(null);
                    } else {
                        window.alert('No results found');
                    }
                } else {
                    window.alert('Geocoder failed due to: ' + status);
                }
            });
        }
        map.addListener('dblclick', function (e) {
            console.log(e.latLng.lng());
            geocodeLatLng(geocoder, e.latLng.lat(), e.latLng.lng(), map, infowindow);
        });
        var cityCircle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: myLatlng,
            radius: 20000
        });
        $.get('/api/drivers/get', function (res) {
            for(var i=0; i<10;i++){
                var latlng = res[i].location;
                console.log(latlng);
                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    icon: 'images/cabs.png'
                })
            }
        });
    }
    $('body').on('click', '.book-cab', function (e) {
        e.preventDefault();
        $('#cab-book-msg-header').text("Loading");
        var src_lat = $('#src').attr('data-lat');
        var src_lng = $('#src').attr('data-lng');
        var dest_lat = $('#dest').attr('data-lat');
        var dest_lng = $('#dest').attr('data-lng');
        var passengers = $('#passengers').val();
        var pass_name = $('#pass_name').val();
        var pass_phone = $('#pass_phone').val();
        console.log(src_lat, src_lng, dest_lat, dest_lng, passengers);
        if (src_lat != null && src_lng != null && dest_lng != null && dest_lat != null && passengers != null && pass_name != null){
            $.post('/api/book', {
                src_lat: src_lat,
                src_lng: src_lng,
                dest_lat: dest_lat,
                dest_lng: dest_lng,
                passengers: passengers,
                pass_name: pass_name,
                pass_phone: pass_phone
            }, function (res, err) {
                if (err == "success"){
                    console.log(err);
                    var message = "driver is " + parseInt(res.distance)/1000 + "km away from source "+
                            "driver name is " + res.drivername + ", phone number is " + res.driverphonenumber;
                    $('#cab-book-msg-header').text("cab booked");
                    $('#cab-book-msg-message').text(message);
                    var marker = new google.maps.Marker({
                        position: res.location,
                        map: map,
                        icon: 'images/cabs_red.png'
                    });
                }
                else {
                    $('#cab-book-msg-header').text("Failed to book cab");
                }


            })
        }

    });
    $(document).keypress(
        function(event){
            if (event.which == '13') {
                event.preventDefault();
            }
        });
</script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASz6Gqa5Oa3WialPx7Z6ebZTj02Liw-Gk&callback=initMap&libraries=places">
</script>

</body>
</html>